{% extends "base.html.twig" %}

{% block body %}
	<section class="section-booking bg1-pattern p-t-100 p-b-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 p-b-30">
					<div class="t-center">
						<span class="tit2 t-center">
							Réservation
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-2">
							Une salle à réserver pour vos soirées
						</h3>
					</div>

					<form class="wrap-form-booking">
						<div class="row">
							<div
								class="col-md-6">
								<!-- Date -->
								<span class="txt9">
									Jour
								</span>

								<div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" type="text" name="date">
									<i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
								</div>

								<!-- Time -->
								<span class="txt9">
									Heure d'arrivée
								</span>

								<div
									class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<!-- Select2 -->
									<select class="selection-1" name="time">
										<option>17:00</option>
										<option>17:30</option>
										<option>18:00</option>
										<option>18:30</option>
										<option>19:00</option>
										<option>19:30</option>
										<option>20:00</option>
										<option>20:30</option>
									</select>
								</div>
								<!-- People -->
								<span class="txt9">
									Nombre de personnes
								</span>

								<div
									class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<!-- Select2 -->
									<select class="selection-1" name="people">
										<option>10 people</option>
										<option>15 people</option>
										<option>20 people</option>
									</select>
								</div>
							</div>

							<div
								class="col-md-6">
								<!-- Name -->
								<span class="txt9">
									Nom
								</span>

								<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name">
								</div>

								<!-- Phone -->
								<span class="txt9">
									Téléphone
								</span>

								<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone">
								</div>

								<!-- Email -->
								<span class="txt9">
									Email
								</span>

								<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
									<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
								</div>
							</div>
						</div>

						<div
							class="wrap-btn-booking flex-c-m m-t-6">
							<!-- Button3 -->
							<button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
								Demande de réservation
							</button>
						</div>
					</form>
				</div>

				<div class="col-lg-6 p-b-30 p-t-18">
					<div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="{{ asset('assets/images/bateau/salleBas-reservation.jpg') }}" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
