{% extends "base.html.twig" %}

{% block body %}
	{% include "app/fragments/presentation/_welcome.html.twig" %}
	{% include "app/fragments/presentation/_present.html.twig" %}
	{% include "app/fragments/presentation/_comments.html.twig" %}

{% endblock %}
