<!-- Footer -->
<footer class="bg1">
	<div class="container p-t-40 p-b-70">
		<div class="row">
			<div
				class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Nous Contacter
				</h4>

				<ul class="m-b-70">
					<li class="txt14 m-b-14">
						<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
						40 Rue Descartes Paris 75005
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
						(+33) 0606060606
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
						contact@site.com
					</li>
				</ul>

				<!-- - -->
				<h4 class="txt13 m-b-32">
					Les Heures d'ouvertures
				</h4>

				<ul>
					<li class="txt14">
						17:00 - 02:00
					</li>

					<li class="txt14">
						Tous les jours
					</li>
				</ul>
			</div>

			<div
				class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Nos derniers tweets
				</h4>

				<div class="m-b-25">
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						@bateau
					</a>

					<p class="txt14 m-b-18">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lacus elit. 
																																																																														Mauris pulvinar euismod porta. Nullam nec mauris eget neque ornare vestibulum. 
																																																																														Mauris maximus a risus eu venenatis. Sed in felis pretium, pellentesque mauris vitae, 
																																																																														ultrices quam. Vestibulum at nulla massa. Cras vestibulum vehicula massa, non semper 
																																																																													  ligula pulvinar.
					</p>

					<span class="txt16">
						21 Dec 2020
					</span>
				</div>

				<div>
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						@bateau
					</a>

					<p class="txt14 m-b-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lacus elit. 
																																																																															Mauris pulvinar euismod porta. Nullam nec mauris eget neque ornare vestibulum. 
																																																																															Mauris maximus a risus eu venenatis.</p>

				</a>
			</p>

			<span class="txt16">
				21 Dec 2019
			</span>
		</div>
	</div>

	<div
		class="col-sm-6 col-md-4 p-t-50">
		<!-- - -->
		<h4 class="txt13 m-b-38">
			Galerie
		</h4>

		<!-- Gallery footer -->
		<div class="wrap-gallery-footer flex-w">
			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY"></a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>

			<a class="item-gallery-footer wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">

			</a>
		</div>

	</div>
</div></div><div class="end-footer bg2">
<div class="container">
	<div class="flex-sb-m flex-w p-t-22 p-b-22">
		<div class="p-t-5 p-b-5">
			<a href="#" class="fs-15 c-white">
				<i class="fa fa-tripadvisor" aria-hidden="true"></i>
			</a>
			<a href="#" class="fs-15 c-white">
				<i class="fa fa-facebook m-l-18" aria-hidden="true"></i>
			</a>
			<a href="#" class="fs-15 c-white">
				<i class="fa fa-twitter m-l-18" aria-hidden="true"></i>
			</a>
		</div>

		<div class="txt17 p-r-20 p-t-5 p-b-5">
			Copyright &copy; 2018 All rights reserved  |  This template is made with
			<i class="fa fa-heart"></i>
			by
			<a href="https://colorlib.com" target="_blank">Colorlib</a>
		</div>
	</div>
</div></div></footer><!-- Back to top --><div class="btn-back-to-top bg0-hov" id="myBtn"><span class="symbol-btn-back-to-top">
<i class="fa fa-angle-double-up" aria-hidden="true"></i></span></div><!-- Container Selection1 --><div id="dropDownSelect1"></div><!-- Modal Video 01--><div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog" role="document" data-dismiss="modal">
<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

<div class="wrap-video-mo-01">
	<div class="w-full wrap-pic-w op-0-0"><img src="{{ asset('assets/images/icons/video-16-9.jpg') }}" alt="IMG"></div>
	<div class="video-mo-01">
		<iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
	</div>
</div></div></div>
