<header>
	<!-- Header desktop -->
	<div class="wrap-menu-header gradient1 trans-0-4">
		<div class="container h-full">
			<div
				class="wrap_header trans-0-3">
				<!-- Logo -->
				<div class="logo">
					<a href="{{ path('bateau_index') }}">
						<img src="{{ asset('assets/images/icons/logo-bateau.jpg') }}" alt="IMG-LOGO"
							 data-logofixed="{{ asset('assets/images/icons/logo-bateau.jpg') }}">
					</a>
				</div>

				<!-- Menu -->
				<div class="wrap_menu p-l-45 p-l-0-xl">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{ path('bateau_index') }}">Accueil</a>
							</li>

							<li>
								<a href="{{ path('bateau_menu') }}">Cartes</a>
							</li>

							<li>
								<a href="{{ path('bateau_booking') }}">Réservation</a>
							</li>

							<li>
								<a href="{{ path('bateau_archives') }}">Archives</a>
							</li>

							<li>
								<a href="{{ path('bateau_events') }}">Nos Evenements</a>
							</li>

							<li>
								<a href="{{ path('bateau_contact') }}">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Social -->
				<div class="social flex-w flex-l-m p-r-20">
					<a href="#">
						<i class="fa fa-tripadvisor" aria-hidden="true"></i>
					</a>
					<a href="#">
						<i class="fa fa-facebook m-l-21" aria-hidden="true"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter m-l-21" aria-hidden="true"></i>
					</a>

					<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
				</div>
			</div>
		</div>
	</div>
</header>
{% include "app/fragments/_sidebar.html.twig" %}
