<!-- Sidebar -->
<aside
	class="sidebar trans-0-4">
	<!-- Button Hide sidebar -->
	<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

	<!-- - -->
	<ul class="menu-sidebar p-t-95 p-b-70">
		<li class="t-center m-b-13">
			<a href="{{ path('bateau_index') }}" class="txt19">Accueil</a>

		</li>

		<li class="t-center m-b-13">
			<a href="{{ path('bateau_menu') }}" class="txt19">Cartes</a>

		</li>

		<li class="t-center m-b-13">
			<a href="{{ path('bateau_archives') }}" class="txt19">Archives</a>

		</li>

		<li class="t-center m-b-13">
			<a href="{{ path('bateau_events') }}" class="txt19">Nos Evenements</a>

		</li>

		<li class="t-center m-b-13">
			<a href="{{ path('bateau_contact') }}" class="txt19">Contact</a>

		</li>

		<li
			class="t-center">
			<!-- Button3 -->
			<a href="{{ path('bateau_booking') }}" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">

				Reservation
			</a>
		</li>
	</ul>

	<!-- - -->
	<div
		class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
		<!-- - -->
		<h4 class="txt20 m-b-33">
			Gallery
		</h4>

		<!-- Gallery -->
		<div class="wrap-gallery-sidebar flex-w">
			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('assets/images/bateau/bouteilles.jpg') }}" data-lightbox="gallery-footer">
				<img src="{{ asset('assets/images/bateau/bouteilles.jpg') }}" alt="GALLERY">
			</a>
		</div>
	</div>
</aside>
