<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
				<div class="wrap-item-mainmenu p-b-22">
					{% for item in items %}
						<div class="item-mainmenu m-b-36">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21">
									{{ item.name }}
								</a>
								<div class="line-item-mainmenu bg3-pattern"></div>
								<div class="price-item-mainmenu txt22">
									{% if happyhour %}
										{{ item.priceHH }}&#8364 /
									{% endif %}
									{{ item.price }}&#8364
								</div>
							</div>
							<span class="info-item-mainmenu txt23">
								La dose est de
								{{ item.quantity }}
							</span>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
